##############################
## Java
##############################
**/*.class
**/*.jar


##############################
## IntelliJ
##############################
.idea/
*/out/
*/.idea/
*/target/
*/.gitignore
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Miscellaneous
##############################
*.log
./*/.mvn/
